# Challenge 3

In this challenge we will work on the `Orders` data set. In your work you will apply the thinking process and workflow we showed you in Challenge 2.

You are serving as a Business Intelligence Analyst at the headquarter of an international fashion goods chain store. Your boss today asked you to do two things for her:

**First, identify two groups of customers from the data set.** The first group is **VIP Customers** whose **aggregated expenses** at your global chain stores are **above the 95th percentile** (aka. 0.95 quantile). The second group is **Preferred Customers** whose **aggregated expenses** are **between the 75th and 95th percentile**.

**Second, identify which country has the most of your VIP customers, and which country has the most of your VIP+Preferred Customers combined.**

## Q1: How to identify VIP & Preferred Customers?

We start by importing all the required libraries:

In [1]:
# import required libraries
import numpy as np
import pandas as pd

Next, extract and import `Orders` dataset into a dataframe variable called `orders`. Print the head of `orders` to overview the data:

In [2]:
# your code here
orders = pd.read_csv('Orders.csv')
orders

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
397919,541904,581587,22613,2011,12,5,12,pack of 20 spaceboy napkins,12,2011-12-09 12:50:00,0.85,12680,France,10.20
397920,541905,581587,22899,2011,12,5,12,children's apron dolly girl,6,2011-12-09 12:50:00,2.10,12680,France,12.60
397921,541906,581587,23254,2011,12,5,12,childrens cutlery dolly girl,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397922,541907,581587,23255,2011,12,5,12,childrens cutlery circus parade,4,2011-12-09 12:50:00,4.15,12680,France,16.60
397923,541908,581587,22138,2011,12,5,12,baking set 9 piece retrospot,3,2011-12-09 12:50:00,4.95,12680,France,14.85

---

"Identify VIP and Preferred Customers" is the non-technical goal of your boss. You need to translate that goal into technical languages that data analysts use:

## How to label customers whose aggregated `amount_spent` is in a given quantile range?

We break down the main problem into several sub problems:

#### Sub Problem 1: How to aggregate the  `amount_spent` for unique customers?

#### Sub Problem 2: How to select customers whose aggregated `amount_spent` is in a given quantile range?

#### Sub Problem 3: How to label selected customers as "VIP" or "Preferred"?

*Note: If you want to break down the main problem in a different way, please feel free to revise the sub problems above.*

Now in the workspace below, tackle each of the sub problems using the iterative problem solving workflow. Insert cells as necessary to write your codes and explain your steps.

In [3]:
# your code here
grouped_customerID = pd.pivot_table(orders, values='amount_spent', index=['CustomerID'], aggfunc=np.sum)
grouped_customerID

            amount_spent
CustomerID
12346           77183.60
12347            4310.00
12348            1797.24
12349            1757.55
12350             334.40
...                  ...
18280             180.60
18281              80.82
18282             178.05
18283            2094.88
18287            1837.28

[4339 rows x 1 columns]

In [9]:
grouped_customerID.reset_index(inplace=True)
grouped_customerID.sort_values(by=['amount_spent'], axis=0, ascending=False, inplace=True)
grouped_customerID.head()

   CustomerID  amount_spent
0       14646     280206.02
1       18102     259657.30
2       17450     194550.79
3       16446     168472.50
4       14911     143825.06

In [5]:
grouped_customerID[['amount_spent']].describe()

        amount_spent
count    4339.000000
mean     2053.793018
std      8988.248381
min         0.000000
25%       307.245000
50%       674.450000
75%      1661.640000
max    280206.020000

In [6]:
q95 = grouped_customerID['amount_spent'].quantile(0.95) 
q95
#thanks to nonunicorn on GitHiub

5840.181999999982

In [8]:
q75 = grouped_customerID['amount_spent'].quantile(0.75) 
q75

1661.64

In [22]:
grouped_customerID['customer_type'] = [None] * len(grouped_customerID)
grouped_customerID.head()

   CustomerID  amount_spent customer_type
0       14646     280206.02          None
1       18102     259657.30          None
2       17450     194550.79          None
3       16446     168472.50          None
4       14911     143825.06          None

In [26]:
def assign_customer_type(amount):
    if amount >= q95:
        return 'VIP'
    elif q75 <= amount < q95:
        return 'Preferred'
    else:
        return 'Other'

In [28]:
grouped_customerID['customer_type'] = grouped_customerID['amount_spent'].apply(assign_customer_type)
grouped_customerID

      CustomerID  amount_spent customer_type
0          14646     280206.02           VIP
1          18102     259657.30           VIP
2          17450     194550.79           VIP
3          16446     168472.50           VIP
4          14911     143825.06           VIP
...          ...           ...           ...
4334       17956         12.75         Other
4335       16454          6.90         Other
4336       14792          6.20         Other
4337       16738          3.75         Other
4338       13256          0.00         Other

[4339 rows x 3 columns]

In [31]:
customer_type_mapping = grouped_customerID.set_index('CustomerID')['customer_type'].to_dict()
customer_type_mapping

{14646: 'VIP',
 18102: 'VIP',
 17450: 'VIP',
 16446: 'VIP',
 14911: 'VIP',
 12415: 'VIP',
 14156: 'VIP',
 17511: 'VIP',
 16029: 'VIP',
 12346: 'VIP',
 16684: 'VIP',
 14096: 'VIP',
 13694: 'VIP',
 15311: 'VIP',
 13089: 'VIP',
 17949: 'VIP',
 15769: 'VIP',
 15061: 'VIP',
 14298: 'VIP',
 14088: 'VIP',
 15749: 'VIP',
 12931: 'VIP',
 17841: 'VIP',
 15098: 'VIP',
 13798: 'VIP',
 16013: 'VIP',
 16422: 'VIP',
 12748: 'VIP',
 15838: 'VIP',
 17404: 'VIP',
 17389: 'VIP',
 13098: 'VIP',
 14680: 'VIP',
 13081: 'VIP',
 13408: 'VIP',
 17857: 'VIP',
 16333: 'VIP',
 13777: 'VIP',
 12753: 'VIP',
 12744: 'VIP',
 16210: 'VIP',
 17675: 'VIP',
 17381: 'VIP',
 15039: 'VIP',
 12471: 'VIP',
 12731: 'VIP',
 15159: 'VIP',
 12901: 'VIP',
 12678: 'VIP',
 14031: 'VIP',
 17428: 'VIP',
 13767: 'VIP',
 13881: 'VIP',
 16839: 'VIP',
 12921: 'VIP',
 14607: 'VIP',
 15856: 'VIP',
 17677: 'VIP',
 15189: 'VIP',
 14051: 'VIP',
 15513: 'VIP',
 16133: 'VIP',
 14866: 'VIP',
 16705: 'VIP',
 12681: 'VIP',
 12621: 'VIP',
 12540: 'VIP',
 12433: 'VIP',
 15498: 'VIP',
 12477: 'VIP',
 17735: 'VIP',
 16525: 'VIP',
 14258: 'VIP',
 13078: 'VIP',
 12536: 'VIP',
 15640: 'VIP',
 16000: 'VIP',
 17340: 'VIP',
 12682: 'VIP',
 13113: 'VIP',
 14606: 'VIP',
 12557: 'VIP',
 12939: 'VIP',
 15125: 'VIP',
 14194: 'VIP',
 12971: 'VIP',
 14895: 'VIP',
 12409: 'VIP',
 15482: 'VIP',
 17581: 'VIP',
 13319: 'VIP',
 17107: 'VIP',
 13340: 'VIP',
 14769: 'VIP',
 17139: 'VIP',
 16779: 'VIP',
 17865: 'VIP',
 17706: 'VIP',
 15251: 'VIP',
 14062: 'VIP',
 15615: 'VIP',
 15502: 'VIP',
 16180: 'VIP',
 16843: 'VIP',
 12590: 'VIP',
 13001: 'VIP',
 13199: 'VIP',
 15078: 'VIP',
 12709: 'VIP',
 13458: 'VIP',
 14733: 'VIP',
 16523: 'VIP',
 12567: 'VIP',
 14367: 'VIP',
 14667: 'VIP',
 18092: 'VIP',
 13969: 'VIP',
 12451: 'VIP',
 13488: 'VIP',
 13090: 'VIP',
 16033: 'VIP',
 17017: 'VIP',
 17243: 'VIP',
 17306: 'VIP',
 16656: 'VIP',
 14527: 'VIP',
 12683: 'VIP',
 18139: 'VIP',
 15358: 'VIP',
 16558: 'VIP',
 14056: 'VIP',
 14936: 'VIP',
 16672: 'VIP',
 13854: 'VIP',
 14952: 'VIP',
 18109: 'VIP',
 14796: 'VIP',
 12428: 'VIP',
 15290: 'VIP',
 14849: 'VIP',
 12757: 'VIP',
 17811: 'VIP',
 13093: 'VIP',
 12435: 'VIP',
 13629: 'VIP',
 15044: 'VIP',
 15194: 'VIP',
 18172: 'VIP',
 13263: 'VIP',
 12474: 'VIP',
 12980: 'VIP',
 15465: 'VIP',
 17396: 'VIP',
 12583: 'VIP',
 13018: 'VIP',
 18229: 'VIP',
 16923: 'VIP',
 16729: 'VIP',
 16745: 'VIP',
 16873: 'VIP',
 13324: 'VIP',
 13985: 'VIP',
 14961: 'VIP',
 12766: 'VIP',
 12798: 'VIP',
 12989: 'VIP',
 16713: 'VIP',
 13027: 'VIP',
 16187: 'VIP',
 17416: 'VIP',
 12705: 'VIP',
 12476: 'VIP',
 12830: 'VIP',
 15023: 'VIP',
 18055: 'VIP',
 15601: 'VIP',
 16652: 'VIP',
 16532: 'VIP',
 13576: 'VIP',
 16746: 'VIP',
 15249: 'VIP',
 16353: 'VIP',
 17338: 'VIP',
 12626: 'VIP',
 16182: 'VIP',
 15144: 'VIP',
 12472: 'VIP',
 16814: 'VIP',
 12431: 'VIP',
 18223: 'VIP',
 15694: 'VIP',
 13225: 'VIP',
 13102: 'VIP',
 13871: 'VIP',
 12359: 'VIP',
 13668: 'VIP',
 13709: 'VIP',
 15005: 'VIP',
 17315: 'VIP',
 16126: 'VIP',
 14057: 'VIP',
 12357: 'VIP',
 14060: 'VIP',
 13418: 'VIP',
 17509: 'VIP',
 15939: 'VIP',
 14735: 'VIP',
 12637: 'VIP',
 13097: 'VIP',
 13316: 'VIP',
 14101: 'VIP',
 15382: 'VIP',
 14505: 'VIP',
 14415: 'VIP',
 14944: 'VIP',
 13209: 'VIP',
 13534: 'VIP',
 13050: 'Preferred',
 12720: 'Preferred',
 15218: 'Preferred',
 17686: 'Preferred',
 13178: 'Preferred',
 16553: 'Preferred',
 13468: 'Preferred',
 14110: 'Preferred',
 14049: 'Preferred',
 17049: 'Preferred',
 17716: 'Preferred',
 13004: 'Preferred',
 18118: 'Preferred',
 14688: 'Preferred',
 17757: 'Preferred',
 12481: 'Preferred',
 12839: 'Preferred',
 16767: 'Preferred',
 16161: 'Preferred',
 12539: 'Preferred',
 15805: 'Preferred',
 18225: 'Preferred',
 16609: 'Preferred',
 16985: 'Preferred',
 16265: 'Preferred',
 18198: 'Preferred',
 12490: 'Preferred',
 17809: 'Preferred',
 16701: 'Preferred',
 17719: 'Preferred',
 17850: 'Preferred',
 16303: 'Preferred',
 13269: 'Preferred',
 15150: 'Preferred',
 17730: 'Preferred',
 17061: 'Preferred',
 18226: 'Preferred',
 12362: 'Preferred',
 15046: 'Preferred',
 16258: 'Preferred',
 13756: 'Preferred',
 16191: 'Preferred',
 15727: 'Preferred',
 17858: 'Preferred',
 13599: 'Preferred',
 15903: 'Preferred',
 13941: 'Preferred',
 17602: 'Preferred',
 16700: 'Preferred',
 14562: 'Preferred',
 15301: 'Preferred',
 13139: 'Preferred',
 12432: 'Preferred',
 15719: 'Preferred',
 17426: 'Preferred',
 14329: 'Preferred',
 14755: 'Preferred',
 12444: 'Preferred',
 15032: 'Preferred',
 15547: 'Preferred',
 12437: 'Preferred',
 12700: 'Preferred',
 15786: 'Preferred',
 14709: 'Preferred',
 17133: 'Preferred',
 12664: 'Preferred',
 12688: 'Preferred',
 14292: 'Preferred',
 17652: 'Preferred',
 15738: 'Preferred',
 13013: 'Preferred',
 15555: 'Preferred',
 17365: 'Preferred',
 15298: 'Preferred',
 15187: 'Preferred',
 17690: 'Preferred',
 12955: 'Preferred',
 14180: 'Preferred',
 15152: 'Preferred',
 16722: 'Preferred',
 12714: 'Preferred',
 14159: 'Preferred',
 14135: 'Preferred',
 14191: 'Preferred',
 15291: 'Preferred',
 14189: 'Preferred',
 14390: 'Preferred',
 14286: 'Preferred',
 16931: 'Preferred',
 13802: 'Preferred',
 15093: 'Preferred',
 14004: 'Preferred',
 17613: 'Preferred',
 17068: 'Preferred',
 12484: 'Preferred',
 13267: 'Preferred',
 15299: 'Preferred',
 17975: 'Preferred',
 12524: 'Preferred',
 14426: 'Preferred',
 16984: 'Preferred',
 17364: 'Preferred',
 12627: 'Preferred',
 14085: 'Preferred',
 14534: 'Preferred',
 13069: 'Preferred',
 15955: 'Preferred',
 16626: 'Preferred',
 15874: 'Preferred',
 12712: 'Preferred',
 13505: 'Preferred',
 12752: 'Preferred',
 16945: 'Preferred',
 14016: 'Preferred',
 14800: 'Preferred',
 14525: 'Preferred',
 17567: 'Preferred',
 18251: 'Preferred',
 12347: 'Preferred',
 15034: 'Preferred',
 17937: 'Preferred',
 14422: 'Preferred',
 12500: 'Preferred',
 17419: 'Preferred',
 14277: 'Preferred',
 15804: 'Preferred',
 17920: 'Preferred',
 15971: 'Preferred',
 12747: 'Preferred',
 14146: 'Preferred',
 18041: 'Preferred',
 12949: 'Preferred',
 15570: 'Preferred',
 16549: 'Preferred',
 13384: 'Preferred',
 13555: 'Preferred',
 13988: 'Preferred',
 15514: 'Preferred',
 12569: 'Preferred',
 16592: 'Preferred',
 17940: 'Preferred',
 17377: 'Preferred',
 16401: 'Preferred',
 16670: 'Preferred',
 12749: 'Preferred',
 14092: 'Preferred',
 12449: 'Preferred',
 18087: 'Preferred',
 14401: 'Preferred',
 12656: 'Preferred',
 12867: 'Preferred',
 13815: 'Preferred',
 12841: 'Preferred',
 12957: 'Preferred',
 12378: 'Preferred',
 14547: 'Preferred',
 16186: 'Preferred',
 17769: 'Preferred',
 15529: 'Preferred',
 17001: 'Preferred',
 15416: 'Preferred',
 17611: 'Preferred',
 12779: 'Preferred',
 12727: 'Preferred',
 14299: 'Preferred',
 13523: 'Preferred',
 13183: 'Preferred',
 17651: 'Preferred',
 12473: 'Preferred',
 17593: 'Preferred',
 14739: 'Preferred',
 13999: 'Preferred',
 14291: 'Preferred',
 18073: 'Preferred',
 13124: 'Preferred',
 15195: 'Preferred',
 16717: 'Preferred',
 12662: 'Preferred',
 16327: 'Preferred',
 13266: 'Preferred',
 17091: 'Preferred',
 15867: 'Preferred',
 12755: 'Preferred',
 12597: 'Preferred',
 13435: 'Preferred',
 12668: 'Preferred',
 16145: 'Preferred',
 16655: 'Preferred',
 16168: 'Preferred',
 16019: 'Preferred',
 12562: 'Preferred',
 17173: 'Preferred',
 16904: 'Preferred',
 12429: 'Preferred',
 17238: 'Preferred',
 14145: 'Preferred',
 13552: 'Preferred',
 16570: 'Preferred',
 15808: 'Preferred',
 14282: 'Preferred',
 12502: 'Preferred',
 12647: 'Preferred',
 13680: 'Preferred',
 16240: 'Preferred',
 14364: 'Preferred',
 15845: 'Preferred',
 15622: 'Preferred',
 13148: 'Preferred',
 17819: 'Preferred',
 15379: 'Preferred',
 12553: 'Preferred',
 16253: 'Preferred',
 15581: 'Preferred',
 15296: 'Preferred',
 18079: 'Preferred',
 13137: 'Preferred',
 12417: 'Preferred',
 16712: 'Preferred',
 13426: 'Preferred',
 12619: 'Preferred',
 16440: 'Preferred',
 13381: 'Preferred',
 17230: 'Preferred',
 14543: 'Preferred',
 17528: 'Preferred',
 13327: 'Preferred',
 13520: 'Preferred',
 17576: 'Preferred',
 14040: 'Preferred',
 13082: 'Preferred',
 15505: 'Preferred',
 15113: 'Preferred',
 16242: 'Preferred',
 15484: 'Preferred',
 14132: 'Preferred',
 17203: 'Preferred',
 17491: 'Preferred',
 15544: 'Preferred',
 12370: 'Preferred',
 14503: 'Preferred',
 13448: 'Preferred',
 13334: 'Preferred',
 12454: 'Preferred',
 17160: 'Preferred',
 13953: 'Preferred',
 16360: 'Preferred',
 14395: 'Preferred',
 16131: 'Preferred',
 14907: 'Preferred',
 16458: 'Preferred',
 13993: 'Preferred',
 13014: 'Preferred',
 17758: 'Preferred',
 15410: 'Preferred',
 13536: 'Preferred',
 15129: 'Preferred',
 15974: 'Preferred',
 17725: 'Preferred',
 15676: 'Preferred',
 14221: 'Preferred',
 12406: 'Preferred',
 15981: 'Preferred',
 13437: 'Preferred',
 17669: 'Preferred',
 13198: 'Preferred',
 15228: 'Preferred',
 13842: 'Preferred',
 15708: 'Preferred',
 16011: 'Preferred',
 14227: 'Preferred',
 16818: 'Preferred',
 16607: 'Preferred',
 17183: 'Preferred',
 13015: 'Preferred',
 12643: 'Preferred',
 12613: 'Preferred',
 12594: 'Preferred',
 16556: 'Preferred',
 13373: 'Preferred',
 14841: 'Preferred',
 14702: 'Preferred',
 15632: 'Preferred',
 12480: 'Preferred',
 15764: 'Preferred',
 17723: 'Preferred',
 13952: 'Preferred',
 13047: 'Preferred',
 15443: 'Preferred',
 17050: 'Preferred',
 14175: 'Preferred',
 13880: 'Preferred',
 13268: 'Preferred',
 14388: 'Preferred',
 16107: 'Preferred',
 17220: 'Preferred',
 13868: 'Preferred',
 17685: 'Preferred',
 13758: 'Preferred',
 14844: 'Preferred',
 12456: 'Preferred',
 17672: 'Preferred',
 17231: 'Preferred',
 16837: 'Preferred',
 16041: 'Preferred',
 15861: 'Preferred',
 17863: 'Preferred',
 15065: 'Preferred',
 14235: 'Preferred',
 13742: 'Preferred',
 16156: 'Preferred',
 13685: 'Preferred',
 16326: 'Preferred',
 16678: 'Preferred',
 13869: 'Preferred',
 14099: 'Preferred',
 16905: 'Preferred',
 15491: 'Preferred',
 14257: 'Preferred',
 14565: 'Preferred',
 13135: 'Preferred',
 17059: 'Preferred',
 13362: 'Preferred',
 15998: 'Preferred',
 16218: 'Preferred',
 18272: 'Preferred',
 12910: 'Preferred',
 13631: 'Preferred',
 16686: 'Preferred',
 14456: 'Preferred',
 17799: 'Preferred',
 16940: 'Preferred',
 16393: 'Preferred',
 16709: 'Preferred',
 12598: 'Preferred',
 12395: 'Preferred',
 18094: 'Preferred',
 12754: 'Preferred',
 12916: 'Preferred',
 15521: 'Preferred',
 17659: 'Preferred',
 17504: 'Preferred',
 12670: 'Preferred',
 14307: 'Preferred',
 15687: 'Preferred',
 14639: 'Preferred',
 13451: 'Preferred',
 14032: 'Preferred',
 15854: 'Preferred',
 16497: 'Preferred',
 17924: 'Preferred',
 14868: 'Preferred',
 17084: 'Preferred',
 17444: 'Preferred',
 16316: 'Preferred',
 14530: 'Preferred',
 17512: 'Preferred',
 15606: 'Preferred',
 12906: 'Preferred',
 14112: 'Preferred',
 12438: 'Preferred',
 17644: 'Preferred',
 18144: 'Preferred',
 12408: 'Preferred',
 13735: 'Preferred',
 16633: 'Preferred',
 15673: 'Preferred',
 14251: 'Preferred',
 17728: 'Preferred',
 14005: 'Preferred',
 15628: 'Preferred',
 14711: 'Preferred',
 13901: 'Preferred',
 14535: 'Preferred',
 12685: 'Preferred',
 18145: 'Preferred',
 16928: 'Preferred',
 15984: 'Preferred',
 14852: 'Preferred',
 14572: 'Preferred',
 17596: 'Preferred',
 14842: 'Preferred',
 13174: 'Preferred',
 16871: 'Preferred',
 12356: 'Preferred',
 14903: 'Preferred',
 18230: 'Preferred',
 13230: 'Preferred',
 16081: 'Preferred',
 16764: 'Preferred',
 15993: 'Preferred',
 13769: 'Preferred',
 12578: 'Preferred',
 12758: 'Preferred',
 17739: 'Preferred',
 14626: 'Preferred',
 17213: 'Preferred',
 12388: 'Preferred',
 14121: 'Preferred',
 17838: 'Preferred',
 13870: 'Preferred',
 15356: 'Preferred',
 15114: 'Preferred',
 14854: 'Preferred',
 13971: 'Preferred',
 15321: 'Preferred',
 12669: 'Preferred',
 14808: 'Preferred',
 14125: 'Preferred',
 15696: 'Preferred',
 16938: 'Preferred',
 16003: 'Preferred',
 12840: 'Preferred',
 12380: 'Preferred',
 12708: 'Preferred',
 15796: 'Preferred',
 17069: 'Preferred',
 13285: 'Preferred',
 13654: 'Preferred',
 14107: 'Preferred',
 14732: 'Preferred',
 18097: 'Preferred',
 17386: 'Preferred',
 12625: 'Preferred',
 17346: 'Preferred',
 13883: 'Preferred',
 14713: 'Preferred',
 12360: 'Preferred',
 14439: 'Preferred',
 15671: 'Preferred',
 12721: 'Preferred',
 13851: 'Preferred',
 16618: 'Preferred',
 18260: 'Preferred',
 13658: 'Preferred',
 17655: 'Preferred',
 15752: 'Preferred',
 13804: 'Preferred',
 13771: 'Preferred',
 12520: 'Preferred',
 17402: 'Preferred',
 18077: 'Preferred',
 13422: 'Preferred',
 13644: 'Preferred',
 17965: 'Preferred',
 18210: 'Preferred',
 16255: 'Preferred',
 14262: 'Preferred',
 13021: 'Preferred',
 15782: 'Preferred',
 14397: 'Preferred',
 12836: 'Preferred',
 18075: 'Preferred',
 12726: 'Preferred',
 16241: 'Preferred',
 13136: 'Preferred',
 14408: 'Preferred',
 13983: 'Preferred',
 17317: 'Preferred',
 12600: 'Preferred',
 16919: 'Preferred',
 13895: 'Preferred',
 14243: 'Preferred',
 15033: 'Preferred',
 13911: 'Preferred',
 14546: 'Preferred',
 16912: 'Preferred',
 15485: 'Preferred',
 18245: 'Preferred',
 16308: 'Preferred',
 15572: 'Preferred',
 14334: 'Preferred',
 14701: 'Preferred',
 14676: 'Preferred',
 13344: 'Preferred',
 14776: 'Preferred',
 17700: 'Preferred',
 13471: 'Preferred',
 14659: 'Preferred',
 17314: 'Preferred',
 13975: 'Preferred',
 17449: 'Preferred',
 13394: 'Preferred',
 15245: 'Preferred',
 15271: 'Preferred',
 12352: 'Preferred',
 13695: 'Preferred',
 12517: 'Preferred',
 15932: 'Preferred',
 16477: 'Preferred',
 12483: 'Preferred',
 12913: 'Preferred',
 16710: 'Preferred',
 14315: 'Preferred',
 13507: 'Preferred',
 13588: 'Preferred',
 17682: 'Preferred',
 17188: 'Preferred',
 14766: 'Preferred',
 14502: 'Preferred',
 17164: 'Preferred',
 12455: 'Preferred',
 15750: 'Preferred',
 17131: 'Preferred',
 13784: 'Preferred',
 15674: 'Preferred',
 14163: 'Preferred',
 15527: 'Preferred',
 17071: 'Preferred',
 13949: 'Preferred',
 16143: 'Preferred',
 17722: 'Preferred',
 15089: 'Preferred',
 15373: 'Preferred',
 12397: 'Preferred',
 17589: 'Preferred',
 15980: 'Preferred',
 18065: 'Preferred',
 13141: 'Preferred',
 15370: 'Preferred',
 17530: 'Preferred',
 14493: 'Preferred',
 14554: 'Preferred',
 14239: 'Preferred',
 15270: 'Preferred',
 13722: 'Preferred',
 17434: 'Preferred',
 14930: 'Preferred',
 13908: 'Preferred',
 15755: 'Preferred',
 12457: 'Preferred',
 17634: 'Preferred',
 14030: 'Preferred',
 14440: 'Preferred',
 15140: 'Preferred',
 14309: 'Preferred',
 12704: 'Preferred',
 18259: 'Preferred',
 12584: 'Preferred',
 18257: 'Preferred',
 17954: 'Preferred',
 15281: 'Preferred',
 12782: 'Preferred',
 15785: 'Preferred',
 17313: 'Preferred',
 17744: 'Preferred',
 17211: 'Preferred',
 14290: 'Preferred',
 15365: 'Preferred',
 13994: 'Preferred',
 13704: 'Preferred',
 15288: 'Preferred',
 16735: 'Preferred',
 16550: 'Preferred',
 15105: 'Preferred',
 13115: 'Preferred',
 15704: 'Preferred',
 12615: 'Preferred',
 13527: 'Preferred',
 17696: 'Preferred',
 12684: 'Preferred',
 16782: 'Preferred',
 13317: 'Preferred',
 17768: 'Preferred',
 14466: 'Preferred',
 13700: 'Preferred',
 16057: 'Preferred',
 16209: 'Preferred',
 14432: 'Preferred',
 16293: 'Preferred',
 17442: 'Preferred',
 15235: 'Preferred',
 16771: 'Preferred',
 15665: 'Preferred',
 14211: 'Preferred',
 16743: 'Preferred',
 14560: 'Preferred',
 14700: 'Preferred',
 16076: 'Preferred',
 15834: 'Preferred',
 18242: 'Preferred',
 14226: 'Preferred',
 14825: 'Preferred',
 17591: 'Preferred',
 12783: 'Preferred',
 13365: 'Preferred',
 15722: 'Preferred',
 15811: 'Preferred',
 12876: 'Preferred',
 12653: 'Preferred',
 13862: 'Preferred',
 15797: 'Preferred',
 15179: 'Preferred',
 13831: 'Preferred',
 17406: 'Preferred',
 15123: 'Preferred',
 16628: 'Preferred',
 15394: 'Preferred',
 14341: 'Preferred',
 12856: 'Preferred',
 12909: 'Preferred',
 12501: 'Preferred',
 12633: 'Preferred',
 13755: 'Preferred',
 12935: 'Preferred',
 16456: 'Preferred',
 14407: 'Preferred',
 16379: 'Preferred',
 13224: 'Preferred',
 16966: 'Preferred',
 17272: 'Preferred',
 14828: 'Preferred',
 12560: 'Preferred',
 17400: 'Preferred',
 13517: 'Preferred',
 14360: 'Preferred',
 16407: 'Preferred',
 14640: 'Preferred',
 15058: 'Preferred',
 13632: 'Preferred',
 18061: 'Preferred',
 18008: 'Preferred',
 14691: 'Preferred',
 13265: 'Preferred',
 18173: 'Preferred',
 18093: 'Preferred',
 14461: 'Preferred',
 14515: 'Preferred',
 17861: 'Preferred',
 15815: 'Preferred',
 13126: 'Preferred',
 12610: 'Preferred',
 16875: 'Preferred',
 17191: 'Preferred',
 18283: 'Preferred',
 14306: 'Preferred',
 13571: 'Preferred',
 17490: 'Preferred',
 13297: 'Preferred',
 18044: 'Preferred',
 14810: 'Preferred',
 16954: 'Preferred',
 18231: 'Preferred',
 14696: 'Preferred',
 14209: 'Preferred',
 18241: 'Preferred',
 18219: 'Preferred',
 14482: 'Preferred',
 12948: 'Preferred',
 12928: 'Preferred',
 16281: 'Preferred',
 14409: 'Preferred',
 12518: 'Preferred',
 17667: 'Preferred',
 14188: 'Preferred',
 16150: 'Preferred',
 17086: 'Preferred',
 17612: 'Preferred',
 14232: 'Preferred',
 17625: 'Preferred',
 13495: 'Preferred',
 17597: 'Preferred',
 17090: 'Preferred',
 13450: 'Preferred',
 14001: 'Preferred',
 12585: 'Preferred',
 13593: 'Preferred',
 18069: 'Preferred',
 17846: 'Preferred',
 13630: 'Preferred',
 16409: 'Preferred',
 17337: 'Preferred',
 16358: 'Preferred',
 14544: 'Preferred',
 15341: 'Preferred',
 14506: 'Preferred',
 15531: 'Preferred',
 15372: 'Preferred',
 16098: 'Preferred',
 14730: 'Preferred',
 14217: 'Preferred',
 14462: 'Preferred',
 17082: 'Preferred',
 16754: 'Preferred',
 15493: 'Preferred',
 18188: 'Preferred',
 13305: 'Preferred',
 16698: 'Preferred',
 17827: 'Preferred',
 18204: 'Preferred',
 17679: 'Preferred',
 17088: 'Preferred',
 13246: 'Preferred',
 13590: 'Preferred',
 13725: 'Preferred',
 17422: 'Preferred',
 16341: 'Preferred',
 17997: 'Preferred',
 12674: 'Preferred',
 17790: 'Preferred',
 17218: 'Preferred',
 15351: 'Preferred',
 14498: 'Preferred',
 12853: 'Preferred',
 17554: 'Preferred',
 14533: 'Preferred',
 14653: 'Preferred',
 15814: 'Preferred',
 15518: 'Preferred',
 14418: 'Preferred',
 14472: 'Preferred',
 15864: 'Preferred',
 15157: 'Preferred',
 12528: 'Preferred',
 14655: 'Preferred',
 14978: 'Preferred',
 16983: 'Preferred',
 13094: 'Preferred',
 16942: 'Preferred',
 15021: 'Preferred',
 17368: 'Preferred',
 14285: 'Preferred',
 16426: 'Preferred',
 17228: 'Preferred',
 14210: 'Preferred',
 15819: 'Preferred',
 14250: 'Preferred',
 12762: 'Preferred',
 17463: 'Preferred',
 17870: 'Preferred',
 14934: 'Preferred',
 12371: 'Preferred',
 15641: 'Preferred',
 16170: 'Preferred',
 13890: 'Preferred',
 16128: 'Preferred',
 17738: 'Preferred',
 15367: 'Preferred',
 17293: 'Preferred',
 16986: 'Preferred',
 13982: 'Preferred',
 16474: 'Preferred',
 17469: 'Preferred',
 16841: 'Preferred',
 14524: 'Preferred',
 17787: 'Preferred',
 16201: 'Preferred',
 14887: 'Preferred',
 12423: 'Preferred',
 17873: 'Preferred',
 14305: 'Preferred',
 12963: 'Preferred',
 16979: 'Preferred',
 13421: 'Preferred',
 12383: 'Preferred',
 12381: 'Preferred',
 17519: 'Preferred',
 18180: 'Preferred',
 12950: 'Preferred',
 17015: 'Preferred',
 16102: 'Preferred',
 16455: 'Preferred',
 14113: 'Preferred',
 14216: 'Preferred',
 13924: 'Preferred',
 14459: 'Preferred',
 18287: 'Preferred',
 13650: 'Preferred',
 15827: 'Preferred',
 13048: 'Preferred',
 14665: 'Preferred',
 16152: 'Preferred',
 15203: 'Preferred',
 18122: 'Preferred',
 17702: 'Preferred',
 16153: 'Preferred',
 17705: 'Preferred',
 16169: 'Preferred',
 17828: 'Preferred',
 17629: 'Preferred',
 15260: 'Preferred',
 13481: 'Preferred',
 17663: 'Preferred',
 15812: 'Preferred',
 ...}

In [33]:
orders['Customer Type'] = orders.loc[:, 'CustomerID'] 
orders['Customer Type'] = orders['Customer Type'].map(customer_type_mapping)
orders.head()

,Unnamed: 0,InvoiceNo,StockCode,year,month,day,hour,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,amount_spent,Customer Type
0,0,536365,85123A,2010,12,3,8,white hanging heart t-light holder,6,2010-12-01 08:26:00,2.55,17850,United Kingdom,15.30,Preferred
1,1,536365,71053,2010,12,3,8,white metal lantern,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
2,2,536365,84406B,2010,12,3,8,cream cupid hearts coat hanger,8,2010-12-01 08:26:00,2.75,17850,United Kingdom,22.00,Preferred
3,3,536365,84029G,2010,12,3,8,knitted union flag hot water bottle,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred
4,4,536365,84029E,2010,12,3,8,red woolly hottie white heart.,6,2010-12-01 08:26:00,3.39,17850,United Kingdom,20.34,Preferred

Now we'll leave it to you to solve Q2 & Q3, which you can leverage from your solution for Q1:

## Q2: How to identify which country has the most VIP Customers?

In [51]:
# your code here

gr_ctype_country = orders.groupby(['Country', 'Customer Type']).size().unstack(fill_value=0)
gr_ctype_country

Customer Type          Other  Preferred    VIP
Country
Australia                157        130    898
Austria                  240        158      0
Bahrain                   17          0      0
Belgium                  474       1503     54
Brazil                    32          0      0
Canada                    16        135      0
Channel Islands          159        225    364
Cyprus                   163        203    248
Czech Republic            25          0      0
Denmark                  163        181     36
EIRE                       0        161   7077
European Community        60          0      0
Finland                  181        210    294
France                  2041       3011   3290
Germany                 1693       4222   3127
Greece                   113         32      0
Iceland                    0        182      0
Israel                    34        214      0
Italy                    251        507      0
Japan                     49         67    205
Lebanon                    0         45      0
Lithuania                 35          0      0
Malta                     45         67      0
Netherlands              283          0   2080
Norway                    44        608    420
Poland                   181        149      0
Portugal                 369        412    681
RSA                       58          0      0
Saudi Arabia               9          0      0
Singapore                  0          0    222
Spain                    916       1058    511
Sweden                   178         75    198
Switzerland              472        776    594
USA                      179          0      0
United Arab Emirates      68          0      0
United Kingdom        132710     137450  84185
Unspecified              244          0      0

In [53]:
top_vip_country = gr_ctype_country['VIP'].idxmax()
print(f"Country with the most VIP customers: {top_vip_country}")

Country with the most VIP customers: United Kingdom

## Q3: How to identify which country has the most VIP+Preferred Customers combined?

In [54]:
# your code here

top_vip_preferred_country = gr_ctype_country[['VIP', 'Preferred']].sum(axis=1).idxmax()
print(f"Country with the most VIP + Preferred customers combined: {top_vip_preferred_country}")

Country with the most VIP + Preferred customers combined: United Kingdom